<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">

<head th:include="index :: head"></head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Start</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/messierdirectory">Katalog Messiera</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/admin">Panel administratora</a>
                </li>
                <li class="nav-item">
                    <br/>
                    <form action="/logmeout" th:action="@{/logmeout}" method="post">
                        <input type="submit" class="btn btn-primary" value="Wyloguj"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<div class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h2 class="alert-danger" th:if="${error} != null" th:text="${error}"></h2>
            <h2 class="alert-success" th:if="${success} != null" th:text="${success}"></h2>
            <h3 class="text-white mb-4">Dodaj swoje własne zdjęcia</h3>
            <div>&nbsp;</div>
            <form class="addUser" method="post" enctype="multipart/form-data" action="/addSkyObject"
                  th:action="@{/addSkyObject}" th:object="${skyObject}">

                <div class="form">
                    <div>
                        <input type="text" class="form-control" name="name" placeholder="Nazwa obiektu"
                               th:field="*{name}">
                    </div>
                </div>
                <br/>
                <div class="form">
                    <div>
                        <input type="date" class="form-control" name="dateTime" placeholder="Data"
                               th:field="*{date}">
                    </div>
                </div>
                <br/>
                <div class="form">
                    <div>
                        <input type="file" name="fileupload"/>
                    </div>
                </div>
                <div>&nbsp;</div>
                <button type="submit" class="btn btn-primary">Wyślij</button>
            </form>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <form action="/skyobjects" th:action="@{/skyobjects}" method="get">
                <input type="submit" class="btn btn-info" value="Lista dodanych zdjęć"/>
            </form>
            <div>&nbsp;</div>
            <div>&nbsp;</div>

        </div>

    </div>

</div>
</header>

<div th:include="index :: footerAndScripts"></div>

</body>

</html>