<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">

<head th:include="index :: head"></head>

<body id="page-top">

<!-- Navigation -->
<nav th:include="account :: loggedUserNav" class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav"></nav>

<!-- Header -->
<header class="masthead">
    <div  class="mx-auto text-center">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <br/><br/><br/>
        <div  class="container text-center">

        </div>
    </div>

</header>

<div th:include="index :: footerAndScripts"></div>

</body>
</html>