<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">

<head th:include="index :: head"></head>

<body>

<header class="masthead">
    <div class="mx-auto text-center">
        <div class="container text-center">
            <br/><br/><br/><br/>
            <h3 class="text-white mb-4"> Coś poszło nie tak! Strona nie istnieje lub nie masz do niej dostępu! </h3>
            <h3 class="text-white mb-4"><a href="/" th:href="@{/}">Powrót do strony głównej</a></h3>
            <h3 class="text-white mb-4"><a href="/" th:href="@{/account}">Powrót do konta użytkownika</a></h3>
        </div>
    </div>
</header>

<div th:include="index :: footerAndScripts"></div>

</body>

</html>
