<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">

<head th:include="index :: head"></head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Start</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/messierdirectory">Katalog Messiera</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/account">Konto użytkownika</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h3 class="text-white mb-4">Rejestracja</h3>
            <div>&nbsp;</div>
            <form action="#" method="POST" th:action="@{/addUser}" th:object="${user}" class="addUser">
                <div>
                    <p class="alert-danger" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login errors</p>
                    <p class="alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email errors</p>
                    <p class="alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
                        errors</p>
                    <p class="alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First
                        name errors</p>
                    <p class="alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name
                        errors</p>
                    <p class="alert-danger" th:if="${invalidPasswords}" th:text="${invalidPasswords}">Different
                        passwords error</p>
                </div>
                <div class="form-row">
                    <div>
                        <input type="text" class="form-control" name="login" placeholder="Login" th:field="*{login}">
                    </div>
                    <div>&nbsp;</div>
                    <div>
                        <!--#TODO poprawić placeholder żeby działało z th:value-->
                        <input th:if="${e_mail} != null" type="email" class="form-control" name="e-mail"
                               th:field="*{email}"  th:value="${e_mail}">
                    </div>
                    <div>
                        <input type="email" class="form-control" name="e-mail" placeholder="Adres e-mail"
                               th:if="${e_mail} == null" th:field="*{email}">
                    </div>
                    <!--                    <div>-->
                    <!--                        <input type="email" class="form-control" name="e-mail" placeholder="Adres e-mail"-->
                    <!--                                th:field="*{email}">-->
                    <!--                    </div>-->
                </div>
                <br/>
                <div class="form-row">
                    <div>
                        <input type="password" class="form-control" name="password" placeholder="Hasło"
                               th:field="*{password}">
                    </div>
                    <div>&nbsp;</div>
                    <div>
                        <input type="password" class="form-control" name="password2" placeholder="Powtórz hasło"
                               th:field="*{password2}">
                    </div>
                </div>
                <br/>
                <div class="form-row">
                    <div>
                        <input type="text" leaf class="form-control" name="firstName" placeholder="Imię"
                               th:field="*{firstName}">
                    </div>
                    <div>&nbsp;</div>
                    <div>
                        <input type="text" class="form-control" name="lastName" placeholder="Nazwisko"
                               th:field="*{lastName}">
                    </div>
                </div>
                <br/>
                <br/>
                <button type="submit" class="btn btn-primary">Utwórz użytkownika</button>
            </form>
        </div>
    </div>
</header>

<div th:include="index :: footerAndScripts"></div>

</body>

</html>
