<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">

<head th:include="index :: head"></head>

<body id="page-top">

<!-- Navigation -->
<nav th:include="account :: loggedUserNav" class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav"></nav>

<!-- Header -->
<div class="masthead">
    <div class="mx-auto text-center">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <br/><br/><br/>
        <form action="/account" th:action="@{/account}" method="get">
            <input type="submit" class="btn btn-info" value="Dodaj zdjęcia"/>
        </form>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <h3 class="text-white mb-4">Twoje zdjęcia</h3>
        <div class="container text-center">
            <table class="table table-striped table-light table-bordered ">
                <thead class=thead-dark>
                <tr>
                    <th>Nazwa</th>
                    <th>Data wykonania</th>
                    <th>Zdjęcie</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="skyObject: ${skyObjectUserList}" th:object="${skyObject}">
                    <td th:text="*{name}">Sky object name</td>
                    <td th:text="*{date}">Date</td>
                    <td><a th:href="*{image}" target=_top><p th:text="*{name}"></p></a></td>
                </tr>
                <tr th:remove="all">
                    <td>xxx</td>
                    <td>xxx</td>
                    <td>xxx</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</header>

<div th:include="index :: footerAndScripts"></div>

</body>
</html>
