<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">

<head th:include="index :: head"></head>

<body id="page-top">

<!-- Navigation -->
<nav th:include="account :: loggedUserNav" class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav"></nav>

<!-- Header -->
<header class="masthead">
    <div  class="mx-auto text-center">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <br/><br/><br/>
        <div  class="container text-center">
        <table class="table table-hover table-light table-bordered">
            <thead class=thead-dark>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr style="cursor:pointer"
                onclick="window.location='/editUser'" th:each="user: ${userList}" th:object="${user}">
                <td th:text="*{user_id}">ID</td>
                <td th:text="*{login}">Login</td>
                <td th:text="*{firstName}">First name</td>
                <td th:text="*{lastName}">Last name</td>
                <td th:text="*{email}">Email</td>
            </tr>
            <tr th:remove="all">
                <td>xxx</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>xxx</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>

</header>

<div th:include="index :: footerAndScripts"></div>

</body>
</html>